.adlam{
  font-family: 'ADLaM Display', cursive;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* App.css */
.movie-card {
  height: 80%;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.movie-card-content {
  display: flex;
  flex-direction: row;
}

.movie-card-image {
  flex: 1;
  padding: 20px;
}

.movie-card-image img {
  max-width: 100%;
  height: auto;
}

.movie-card-info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card-video {
  padding-left: 20px;
}

.movie-card-video iframe {
  width: 470px;
  height: 300px;
}

.back-to-home {
  margin-top: 20px;
}
